absl-py
altair
appdirs
astunparse
attrs
beautifulsoup4
blinker
bs4
cachetools
certifi
charset-normalizer
clarabel
click
contourpy
cssselect
cvxpy
cycler
data
DateTime
decorator
ecos
fake-useragent
feedparser
flatbuffers
fonttools
frozendict
funcsigs
gast
gitdb
GitPython
google-pasta
grpcio
h5py
html5lib
idna
importlib_metadata
Jinja2
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
lxml
lxml_html_clean
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
multitasking
namex
narwhals
numpy
opt_einsum
optree
osqp
packaging
pandas
pandas-datareader
parse
peewee
pillow
platformdirs
plotly
protobuf
pyarrow
pydeck
pyee
Pygments
Pympler
pyparsing
pyportfolioopt
pyppeteer
pyquery
python-dateutil
pytz
pytz-deprecation-shim
qdldl
referencing
requests
requests-html
rich
rpds-py
scipy==1.14.1
scs==3.2.7
sgmllib3k==1.0.0
six==1.16.0
smmap==5.0.1
soupsieve==2.6
streamlit==1.39.0
ta==0.11.0
tenacity==9.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
toml==0.10.2
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==4.3.1
urllib3==1.26.20
uv==0.5.28
validators==0.34.0
w3lib==2.2.1
watchdog==5.0.3
webencodings==0.5.1
websockets==10.4
Werkzeug==3.0.4
wrapt==1.16.0
yahoo-fin==0.8.9.1
yfinance==0.2.44
zipp==3.20.2
zope.interface==7.1.0
