absl-py
altair
appdirs
astunparse
attrs
beautifulsoup4
blinker
bs4
cachetools
certifi
charset-normalizer
clarabel
click
contourpy
cssselect
cvxpy
cycler
data
DateTime
decorator
ecos
fake-useragent
feedparser
flatbuffers
fonttools
frozendict
funcsigs
gast
gitdb
GitPython
google-pasta
grpcio
h5py
html5lib
idna
importlib_metadata
Jinja2
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
lxml
lxml_html_clean
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
multitasking
namex
narwhals
numpy
opt_einsum
optree
osqp
packaging
pandas
pandas-datareader
parse
peewee
pillow
platformdirs
plotly
protobuf
pyarrow
pydeck
pyee
Pygments
Pympler
pyparsing
pyportfolioopt
pyppeteer
pyquery
python-dateutil
pytz
pytz-deprecation-shim
qdldl
referencing
requests
requests-html
rich
rpds-py
scipy
scs
sgmllib3k
six
smmap
soupsieve
streamlit
ta
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
toml
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
uv
validators
w3lib
watchdog
webencodings
websockets
Werkzeug
wrapt==1.16.0
yahoo-fin
yfinance
zipp
zope.interface
